.logo {
	background-color: ;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 30px;
	top: o;
	width: 100%;
	height: 60px;
	}
/*Navigation bar on top of page*/	
	.navbar {
	    list-style-type: none;
	    margin: 0;
		padding-top: px;
		margin-left: -9px;
	    overflow: hidden;
	    background-color: #1ab2ff; 
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	}

	.navbar li {
	    float: left;
	}
	
	.navbarheadings a {
	    display: inline-block;
	    color: white;
		font-family: arial;
		font-size: 14px;
	    text-align: center;
		letter-spacing: 2px;
	    padding: 16px;
	    text-decoration: none;
	}	
	/*dropdown menu button styling*/
	li a, .dropbtn {
	    display: inline-block;
	    color: white;
		font-family: arial;
		font-size: 14px;
	    text-align: center;
		letter-spacing: 2px;
	    padding: 16px;
	    text-decoration: none;
		transition: all 0.2s ease 0s;
	 }
		
	.navbar a:hover {
	    background-color: #111;
	    color: white;
	}
	.navbar a:hover:not(.active) {
	    background-color: #555;
	    color: white;
	}
	/*highlight current menu tab so user knows which page they are on. Have to update <a> for each actual webpage*/
	.navbar a.dropbtn-active {
	    background-color: #005580;
	    color: white;
	}
	.navbar a:hover:not(.active) {
	    background-color: #555;
	    color: white;
	}
	/* dropdown menu code*/
	
		/*dropdown menu button styling*/
	li a:hover, .dropdown:hover .dropbtn {
	    background-color: #555;}
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 150px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;}
	.dropdown-content a:hover {background-color: #f1f1f1}
	.dropdown:hover .dropdown-content {
	    display: block;}
	.dropdown:hover .dropdown-content {
		    display: block;}	

	.container {
		z-index:-1;
		max-width: 100%;
		width: 850px;
		min-width: 150 px;
		padding: 0px 0px 150px 0px;
		margin: auto;
		background-color: ;
		padding-top: 50px;
	}		
	
	#offers {
		text-align: center;
	}
	
	.offers img {
		width: 100%;
		margin: auto;
	}
	
	/*12 columns for responsive viewing dependent upon device screen size @media*/
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	footer div {
		background-color: #666666;
		height: 200px;	
		width: 100%;
		margin-left: -9px;
	}
	
	footer div div {
		max-width: 83.33%;
		height: 50px;
		padding: 15px 10px 10px 10px;
		margin: auto;
	}